* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  background-color: rgb(175, 212, 120);
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

#page-container {
  max-width: 800px;
  grid-row-gap: 2rem;
  /* display: grid; */
  /* grid-template-rows: auto auto auto; */
  position: relative;
}

#garden {
  background-color: rgb(175, 212, 120);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 2rem;
  /* display: inline-block; */
}

#click-feedback {
  position: absolute;
  top: 20%;
  left: 55%;
  transform: translate (-50%, -80%);
  pointer-events: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 4px black;
}

#game-info {
  background-color: rgb(175, 212, 120);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 1.5rem;
}

#flower-counter {
  background-color: rgb(175, 212, 120);
  padding: 3rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 4px black;
}

#fps-counter {
  background-color: rgb(175, 212, 120);
  padding: 3rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 4px black;
}

#pause-button {
  padding: 0.5rem;
  margin-right: 3rem;
  font-weight: bold;
}

#shop-container {
  background-color: beige;
}

#shop-upgrades {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 1rem;
  padding: 1rem 3%;
  /* display: flex;
  justify-content: flex-start;
  padding-top: 1rem;
  padding-left: 3%;
  padding-right: 3%;
  gap: 1rem; */
}

h2 {
  padding: 1rem;
  display: flex;
}

.shop-element {
  background-color: rgba(248, 182, 39, 0.548);
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  width: 120px;
  font: beige;
}

#flower-icon {
  cursor: pointer;
  height: 250px;
}

.purchase-button {
  margin: 0.3rem;
}

.shop-icon {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin: 0.5rem auto;
  display: block;
}

.shop-titles {
  font: beige;
}
