* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: peru;
}

header {
  background-color: beige;
}

#game-info {
  background-color: beige;
}

#shop-container {
  background-color: darkkhaki;
}
